<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="mainApplication">
<head>
	<title></title>
</head>
<body data-ng-controller="mainController">

	<!--Error!-->
	<!--<button data-ng-click="doSomething()">Click Me!</button>-->

	<!--Error!-->
	<!--<button type="button" data-ng-click="doSomething">Click Me!</button>-->

	<button type="button" data-ng-click="doSomething()">Click Me!</button>

	<script src="../Scripts/angular.min.js"></script>

	<script>

		angular.module('mainApplication', []);

		angular.module('mainApplication')

			.controller('mainController', function ($scope) {

				$scope.doSomething = function () {

					alert('Hello World!');

				}; // یادتون نره (;)

			})
			;

	</script>
</body>
</html>
