<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="mainApplication">
<head>
	<title></title>
</head>
<body data-ng-controller="mainController">

	<table border="1">
		<tr>
			<th>
				#
			</th>
			<th>
				Full Name
			</th>
			<th>
				Age
			</th>
		</tr>

		<tr data-ng-repeat="item in people" data-ng-click="edit(item)">
			<td>
				{{ $index + 1 }}
			</td>
			<td>
				{{ item.fullName }}
			</td>
			<td>
				{{ item.age }}
			</td>
		</tr>
	</table>

	<div data-ng-show="!!selectedPerson">
		<hr />

		Age:
		<br />
		<input type="number" data-ng-model="selectedPerson.age" />

		<br />
		<br />

		Full Name:
		<br />
		<input type="text" data-ng-model="selectedPerson.fullName" />

	</div>

	<script src="../Scripts/angular.min.js"></script>

	<script>

		(function () {

			var varMainApplication =
				angular.module('mainApplication', []);

			var varMainController =
				function ($scope) {

					$scope.selectedPerson = null;

					$scope.people =
						[
							{ id: 1, fullName: 'Sara Alavi', description: 'Nothing (1)', age: 20, },
							{ id: 2, fullName: 'Ali Rezazadeh', description: 'Nothing (2)', age: 30, },
							{ id: 3, fullName: 'Dariush Tasdighi', description: 'Nothing (3)', age: 40, },
							{ id: 4, fullName: 'Seyed Ali Reza Alavi', description: 'Nothing (4)', age: 50, },
						];

					$scope.edit = function (item) {

						$scope.selectedPerson = item;

					};

				};

			varMainApplication.controller('mainController', varMainController);

		})();

	</script>
</body>
</html>
