<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="mainApplication">
<head>
	<title></title>
</head>
<body data-ng-controller="mainController">

	First Name
	<br />
	<input type="text" data-ng-model="firstName" />

	<br />
	<br />

	Last Name
	<br />
	<input type="text" data-ng-model="lastName" />

	<br />
	<br />
	Full Name: {{ firstName + ' '  + lastName }}!

	<br />
	<br />
	Full Name: {{ getFullName() }}!

	<br />
	<br />
	Full Name: {{ fullName }}!

	<script src="../Scripts/angular.min.js"></script>

	<script>

		(function () {

			var varMainApplication =
				angular.module('mainApplication', []);

			var varMainController =
				function ($scope) {

					$scope.lastName = '';
					$scope.firstName = '';

					$scope.fullName = '';

					$scope.getFullName = function () {

						return ($scope.firstName + ' ' + $scope.lastName);

					};

					$scope.$watch('firstName', function () {

						$scope.fullName = $scope.getFullName();

					});

					$scope.$watch('lastName', function () {

						$scope.fullName = $scope.getFullName();

					});

				};

			varMainApplication.controller('mainController', varMainController);

		})();

	</script>
</body>
</html>
