<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="mainApplication">
<head>
	<title></title>
</head>
<body>

	<div data-ng-controller="firstController">
		Text 1: <input type="text" data-ng-model="text1" />
		<br />
		Text 2: <input type="text" data-ng-model="text2" />

		<hr />

		<div data-ng-controller="secondController">
			Text 1: <input type="text" data-ng-model="text1" />
			<br />
			Text 2: <input type="text" data-ng-model="text2" />
		</div>
	</div>

	<script src="../Scripts/angular.min.js"></script>

	<script>

		(function () {

			var varMainApplication =
				angular.module('mainApplication', []);

			var varFirstController =
				function ($scope) {

					$scope.text1 = 'Text (1)';

				};

			varMainApplication.controller('firstController', varFirstController);

			var varSecondController =
				function ($scope) {

					$scope.text2 = 'Text (2)';

				};

			varMainApplication.controller('secondController', varSecondController);

		}());

	</script>
</body>
</html>
