@model Models.Person

<div class="form-horizontal">
	<div class="row form-group">
		<label class="control-label col-sm-3">First Name</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" data-ng-model="CurrentPerson.FirstName" />
		</div>
	</div>

	<div class="row form-group">
		<label class="control-label col-sm-3">Last Name</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" data-ng-model="CurrentPerson.LastName" />
		</div>
	</div>
</div>
